/*.logo {
  width: auto;
  height: auto;
  overflow: hidden;
}

/*#gsbclogo {
  width: 120px;
  height: 120px;
  float: left;
  display: flex;
}
.main-header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  text-align: center;
  
  
}
.name {
  float: right;
  margin-right: 50px;
  padding-top: 10px;
  padding-left: 20px;*/
  
}
/*.main-nav li {
  padding: 10px 20px;
  border-radius: 5px;*/
}

/*.main-logo {
  margin-right: 50px;*/
}
